Source: ros-noetic-ecl-tools
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://www.ros.org/wiki/ecl_tools
Standards-Version: 3.9.2

Package: ros-noetic-ecl-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-ecl-build, ros-noetic-ecl-license
Description: Tools and utilities for ecl development.
